* {
  margin: 0;
  padding: 0; }

body {
  font-size: 13px;
  line-height: 25px;
  color: #323232;
  font-weight: 400;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; }

.page_header {
  width: 100%;
  position: fixed;
  z-index: 6;
  background-color: #fff;
  transition: all 0.2s ease-in-out; }

.container {
  width: 1100px;
  height: 100%;
  position: relative;
  margin: 0 auto; }

.container a {
  height: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer; }

.normal {
  position: relative;
  transition: all 0.2s ease-in-out; }

.main_menu {
  width: 368px;
  list-style: none;
  float: right;
  position: relative;
  left: -1%;
  transition: all 0.2s ease-in-out; }

.main_menu li {
  height: 100%;
  width: 92px;
  text-align: center;
  float: left; }

.main_menu a {
  height: 100%;
  width: 92px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #393939;
  text-decoration: none; }
  .main_menu a:hover {
    color: #FC5A44; }

.main_menu span {
  position: relative;
  top: 34%; }

.content {
  width: 100%;
  height: 335px;
  background: url(./bg_title.jpg) 0 no-repeat; }

.content_inner {
  background: url(./title_text.png) 0 no-repeat;
  width: 85%;
  height: 355px;
  margin: 0 auto; }

.wpb_wrapper {
  width: 85%;
  position: relative;
  top: 15px;
  margin: 40px auto; }

.wpb_wrapper span {
  color: #323232;
  font-size: 22px;
  line-height: 1.8em; }

.projects_holder {
  max-width: 85%;
  margin: 0 auto;
  overflow: auto; }

.box {
  max-width: 23%;
  margin: 25px 10px;
  float: left;
  vertical-align: top; }

.image_holder {
  width: 100%;
  position: relative; }
  .image_holder:hover .portfolio_link_class {
    opacity: 1; }

.image_holder img {
  width: 100%;
  box-shadow: 0 6px 0 #fc5a44; }

.portfolio_link_class {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fc5a44;
  transition: all ease-in-out 0.5s;
  text-decoration: none; }

.icons_holder_inner {
  width: 36px;
  height: 36px;
  display: block;
  margin: 50% auto;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  border-radius: 50%;
  color: #393939;
  background-color: #fff;
  transition: all ease-in-out 0.5s; }
  .icons_holder_inner:hover {
    color: #fff;
    background-color: #393939; }

.portfolio_title {
  display: block;
  min-height: 120px;
  margin: 10% auto 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-decoration: none;
  color: #323232; }

.excerpt {
  font-size: 20px;
  color: #6e6e6e; }

.portfolio_paging {
  display: inline-block;
  overflow: auto;
  width: 100%;
  margin-top: 10%; }

.load_more {
  width: 104px;
  height: 41px;
  line-height: 41px;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  background-color: #fd5944;
  color: #fff;
  transition: all ease-in-out 0.5s; }
  .load_more:hover {
    font-weight: 800;
    background-color: #fff;
    color: #fd5944;
    border: 2px solid #fd5944; }

.portfolio_paging_loading {
  height: 1px;
  margin-top: 8%; }

.footer_top_holder {
  width: 100%;
  min-height: 353px;
  background: #2e2e2e; }

.footer_top {
  width: 85%;
  margin: 0 auto;
  padding: 82px 0 76px; }

.nav_menu_0 {
  width: 25%;
  float: left; }

.nav_menu_1 {
  float: left;
  width: 25%;
  line-height: 30px; }

.nav_menu_1 h4 {
  color: #fff;
  line-height: 45px; }

.nav_menu_1_ul {
  list-style: none; }

.nav_menu_1_ul a {
  color: #a2a2a2;
  transition: all ease-in-out 0.5s;
  text-decoration: none; }
  .nav_menu_1_ul a:hover {
    color: #fff; }

.nav_menu_2 {
  float: left;
  width: 25%; }

.nav_menu_2 h4 {
  color: #fff;
  line-height: 45px; }

.textwidget {
  width: 240px;
  height: 40px;
  padding-top: 6px;
  padding-right: 40px; }

.textwidget_s {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 3px;
  border-radius: 50%;
  background: #fff; }

.textwidget_s a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  opacity: 1;
  transition: all ease-in-out 0.5s; }
  .textwidget_s a:hover {
    background: #FC5A44; }

.textwidget_s_1 {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(./ico_share.png) no-repeat;
  background-size: 220px 25px;
  background-position: 4px center;
  opacity: 2; }

.textwidget_s_2 {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(./ico_share.png) no-repeat;
  background-size: 220px 25px;
  background-position: -44px center; }

.textwidget_s_3 {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(./ico_share.png) no-repeat;
  background-size: 220px 25px;
  background-position: -93px center; }

.textwidget_s_4 {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(./ico_share.png) no-repeat;
  background-size: 220px 25px;
  background-position: -139px center; }

.textwidget_s_5 {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(./ico_share.png) no-repeat;
  background-size: 220px 25px;
  background-position: -186px center; }

.footer_bottom {
  width: 100%;
  height: 50px;
  background: #787878; }

.textwidget {
  margin: 0 auto; }

.textwidget p {
  line-height: 19px;
  font-size: 12px;
  text-align: center;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
